%p
  %strong Католог:
  = @catalog.name
%p
  %strong Описание:
  = @catalog.description

%h2 Продукты
=render @catalog.products


%h2 Добавить продукт:
=render 'products/form'

= link_to 'Список каталогов', catalogs_path